#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.x2-flex{
  display: grid;
  grid-template-columns: 1fr 6fr;
}
.header{
  background-color: yellow;
  padding: 20px;
  width: 100%; /* Asegura que ocupe todo el ancho de las columnas */
  height: 100%; /* O puedes usar min-height para ajustarlo dinámicamente */
} 

.header nav{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; /* Permite que los botones se muevan a la siguiente fila si es necesario */
  gap: 6.3rem; /* Espacio entre los botones */
  padding: 2rem;
  background-color: #333; /* Fondo oscuro para el nav */
  height: 100%; /* Asegura que el nav ocupe todo el alto de su contenedor */
}

.header nav a{
  text-decoration: none; /* Elimina el subrayado */
  color: white; /* Color de texto blanco */
  background-color: #007bff; /* Fondo azul para los botones */
  padding: 10px; /* Espaciado interno (tamaño del botón) */
  border-radius: 5px; /* Bordes redondeados */
  font-weight: bold; /* Texto en negrita */
  text-align: center;
  transition: background-color 0.3s ease; /* Transición suave para cambios de color */
  flex-grow: 1; /* Hace que cada botón ocupe el mismo espacio */
  text-align: center; /* Alinea el texto al centro */
}

footer{
  display: flex;
  flex-direction: column;
}
